<!DOCTYPE html>
<html lang="en">

<head>
  <link href="styles/admin.css" rel="stylesheet">
  <link href="styles/forms_style.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">
    <div class="card">

      <div class="vertical row row-space">
        <h1 class="a"> ADMIN PAGE </h1>
        <div class="control-box col-1">
          <a class="button-1" href="/admin/new_item">NEW ITEM</a>
          <a class="button-1" href="/admin/sessions">USER SESSIONS</a>
        </div>
        <div class="item-box row row-space">
          <% items.forEach(function(item){ %>
            <div class="admin-item">
              <a href="/admin/item/<%- item._id %>">
                <div class="row">
                  <img class="admin-item-img" src="/show-item/<%- item.images[0] %>">
                </div>
                <div class="row">
                  <div class="col-1 p-t-10">
                    <p><%- item.brand %></p>
                    <p><%- item.description %></p>
                    <div class="split-line">
                      <%if (item.discount_price==null){ %>
                      <p class="price">$<%- item.price %></p>
                      <% }else{ %>
                      <p class="price red-line">$<%- item.price %></p>
                      <p class="discount-price">DISCOUNT: $<%- item.discount_price %></p>
                      <% } %>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% }); %>

        </div>
      </div>

  </div>
</body>


</html>
