<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
  <link href="/styles/indie/cart.css" rel="stylesheet">

  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/nav.ejs'); %>

    <div class="main-block">

    <div class="pre-cart">
      <p>cart</p>
    </div>
    <div class="cart-section">
      <div id="cart-box">
        <% cart.forEach(function(cart_pair, i){ %>
          <div class="cart-item-wrapper">
            <img class="cart-img" src="/show-item/<%- cart_pair.item.images[0] %>" alt="ohlord">
            <div class="cart-item row row-space">
              <div class="cart-item-block info">
                <p class="bold"><%- cart_pair.item.brand %></p>
                <p><%- cart_pair.item.description %></p>
              </div>
              <div class="cart-item-block size">

                <p class="bold">size</p>

                <p><%- cart_pair.size %></p>
              </div>
              <div class="cart-item-block price">
                <div class="price-wrap">
                  <p class="label">price</p>
                  <% if(cart_pair.item.discount_price!=null){ %>
                    <p class="red-line">$<%- cart_pair.item.price %></p>
                    <p class="discount-price">$<%- cart_pair.item.discount_price %></p>
                  <% }else{ %>
                    <p>$<%- cart_pair.item.price %></p>
                  <% } %>
                </div>
                <form class="remove-cart-form" action="/api/remove_cart/<%- i %>" method="post">
                  <button class="fake-href remove_cart" type="submit">remove</button>
                </form>
              </div>
            </div>
          </div>
          <hr>
        <% }) %>
          <div class="subtotal">
            <p class="bold">subtotal</p>
            <p>$<%- total %></p>
          </div>
      </div>
    </div>
    <div class="post-cart">
      <button type="button" id="checkout-button">checkout</button>
    </div>
  </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51I716xDScnxQKL28YFeKFLH340dl4hLDML2UGowAbvlRLp7ozIt64qh7MfdUkuOrwjxSwNt9UpVz7zpVNbURmou6006sydC96x");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/api/create-checkout-session", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>


</html>
