<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/cart.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">

  <script src="/scripts/cookies.js"></script>
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/header.ejs'); %>

    <div class="pre-cart">
      <p>cart</p>
    </div>
    <div class="cart-section">
      <div id="cart-box">
        <% cart[0].forEach(function(item, i){ %>
          <div class="cart-item-wrapper">
            <img class="cart-img" src="/show-item/<%- item.images[0] %>" alt="ohlord">
            <div class="cart-item row row-space">
              <div class="cart-item-block info">
                <p class="bold"><%- item.brand %></p>
                <p><%- item.description %></p>
              </div>
              <div class="cart-item-block size">

                <p class="bold">size</p>

                <p><%- cart[1][i] %></p>
              </div>
              <div class="cart-item-block price">
                <div class="price-wrap">
                  <p class="label">price</p>
                  <% if(item.discount_price!=null){ %>
                    <p class="red-line">$<%- item.price %></p>
                    <p class="discount-price">$<%- item.discount_price %></p>
                  <% }else{ %>
                    <p>$<%- item.price %></p>
                  <% } %>
                </div>
                <form class="remove-cart-form" action="/api/remove_cart/<%- i %>" method="post">
                  <button class="fake-href remove_cart" type="submit">remove</button>
                </form>
              </div>
            </div>
          </div>
          <hr>
        <% }) %>
          <div class="subtotal">
            <p class="bold">subtotal</p>
            <p>$<%- total %></p>
          </div>
      </div>
    </div>
    <div class="post-cart">
      <a href="">checkout</a>
    </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>


</html>
