<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
  <link href="/styles/indie/showroom.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/nav.ejs'); %>

    <div class="main-block">
      <div class="row row-space">
        <% show_items.forEach(function(item){ %>
        <div class="show_item">
          <a href="/item/<%- item._id %>">
            <div class="row">
              <img class="showroom-img" src="/show-item/<%- item.images[0] %>" alt="ohlord">
            </div>
            <div class="row">
              <div class="col-1 p-t-10">
                <h2><%- item.brand %></h2>
                <p><%- item.description %></p>
                <div class="price-line">
                  <%if (item.discount_price==null){ %>
                  <p class="price">$<%- item.price %></p>
                  <% }else{ %>
                  <p class="price red-line">$<%- item.price %></p>
                  <p class="discount-price"> $<%- item.discount_price %></p>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
  </div>
</body>


</html>
