<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/header.ejs'); %>

    <div class="showroom">
      <div class="row row-space">
        <% show_items.forEach(function(item){ %>
            <div class="show_item m-t-30">
              <a href="/item/<%- item._id %>">
                <div class="row">
                  <img src="show-item/<%- item.image %>" alt="ohlord" style="height:230px;width:230px;">
                </div>
                <div class="row">
                  <div class="col-1 p-t-10">
                    <h2><%- item.brand %></h2>
                    <p><%- item.description %></p>
                    <div class="price-line">
                      <p class="price">$<%- item.price %></p>
                      <p class="discount-price"> $35.99</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        <% }); %>
      </div>
    </div>

  </div>
</body>


</html>
