<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/header.ejs'); %>

      <div class="row row-center p-t-30">
        <div class="col item_image">
          <img src="/show-item/<%- item.image %>" alt="ohlord">
        </div>
        <div class="col item_desc grow-2">
          <div class="top-line">
            <p class="bold"><%- item.brand %></p>
            <p class=""><%- item.description %></p>
          </div>
          <div class="price-line p-t-15">
            <%if (item.discount_price==null){ %>
            <p class="price">$<%- item.price %> USD</p>
            <% }else{ %>
            <p class="price red-line">$<%- item.price %> USD</p>
            <p class="discount-price"> $<%- item.discount_price %> USD</p>
            <% } %>
          </div>
          <div class="details-section p-t-15">
            <p> -Distressed tapered leg jeans </p>
            <p> -Black and grey denim </p>
            <p> -High rise </p>
            <p> -Skinny fit </p>
          </div>
          <div class="size-section p-t-15">
            <p> Select size </p>
            <p style="font-size:16px;">s  m  l</p>
          </div>
          <div class="add-cart-section p-t-15">
            <a href="/cart" type="submit">add to cart</a>
          </div>
        </div>
      </div>
      <br><br><br><br>


  </div>
</body>


</html>
