<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/header.ejs'); %>

      <div class="row row-center p-t-30">
        <div class="col item_image">
          <img src="/show-item/<%- item.image %>" alt="ohlord">
        </div>
        <div class="col item_desc grow-2">
          <p class="bold"><%- item.brand %></p>
          <p class=""><%- item.description %></p>
          <p class="">$<%- item.price %></p>
        </div>
      </div>
      <br><br><br><br>


  </div>
</body>


</html>
