<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/styles/admin.css" rel="stylesheet">
  <link href="/styles/forms_style.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">

  <script src="/libs/jquery/jquery.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <div class="img-card">
      <% item.images.forEach(function(image){ %>
        <img class="editing-img" src="/show-item/<%- image %>">
      <% }) %>
      <form id="image-form" enctype="multipart/form-data" action="/admin/new_image/<%- item._id %>" method="post">
        <input id="image_inpt" class="input--style-4 bold center" type="file" name="image" style="padding: 0 5px;">
      </form>
    </div>
    <div class="card">

      <div class="row row-space">
        <div class="col-1">
          <h1> ADD ITEM </h1>
        </div>
      </div>

      <form class="main-form" action="/admin/update_item/<%- item._id %>" method="post">
      <div class="row row-space">
        <div class="col-2 m-t-30">
          <div class="input-group">
            <label class="label">Brand</label>
            <input class="input--style-4" type="text" name="brand" value="<%- item.brand %>">
          </div>
        </div>
        <div class="col-2 m-t-30">
          <div class="input-group">
            <label class="label">Description</label>
            <input class="input--style-4" type="text" name="description" value="<%- item.description %>">
          </div>
        </div>
      </div>
      <div class="row row-space m-t-30">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Price</label>
            <input class="input--style-4 bold center" type="text" name="price" value="<%- item.price %>">
          </div>
        </div>
        <div class="col-2">
          <div class="input-group">
            <label class="label">Discount</label>
            <input class="input--style-4 bold center" type="text" name="discount_price" value="<%- item.discount_price %>">
          </div>
        </div>
      </div>
      <div class="row row-space m-t-30">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Category</label>
            <select class="input--style-4 bold center" name="category">
              <option value="">No Category</option>
              <option value="tops" <% if(item.category=='tops'){ %>selected<% } %>>Tops</option>
              <option value="bottoms" <% if(item.category=='bottoms'){ %>selected<% } %>>Bottoms</option>
              <option value="outerwear" <% if(item.category=='outerwear'){ %>selected<% } %>>Outerwear</option>
              <option value="accessories" <% if(item.category=='accessories'){ %>selected<% } %>>Accessories</option>
              <option value="footwear" <% if(item.category=='footwear'){ %>selected<% } %>>Footwear</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="input-group minor_desc_box">
            <label class="label">Minor Descriptions</label>
            <% item.minor_descriptions.forEach(function(desc, i){ %>
              <input class="minor_desc_old input--style-4" type="text" name="minor_description_<%- i %>" value="<%- desc %>">
            <% }) %>
            <input class="minor_desc input--style-4" type="text" name="minor_description_<%- item.minor_descriptions.length %>">
          </div>
        </div>
      </div>

      <div class="row row-space m-t-30">
        <div class="col-1">
          <div class="input-group">
            <button class="btn btn--radius-2 btn--blue" type="submit">SAVE</button>
          </div>
          <div class="input-group">
            <button class="btn btn--radius-2 btn--blue" type="submit">DELETE</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</body>
<script>
var descs = <%- item.minor_descriptions.length %>">;
function addDescListener(inpt){
inpt.on("change paste keyup", function() {
   if ($(this).hasClass('extended')!=true){
     descs++;
     $(this).addClass('extended')
     var new_input = $("<input class='minor_desc input--style-4' type='text' name='minor_description_"+descs+"'>")
     new_input.insertAfter(this)
     addDescListener(new_input)
   }
});
}
addDescListener($('.minor_desc'))
document.getElementById("image_inpt").onchange = function() {
    document.getElementById("image-form").submit();
};

</script>

</html>
